*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a{
    color: #000;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img{
    display: block;
}
.em ,i {
    font-style: normal;
}

html,body{
    width: 100%;
    height: 100%;
}

html {
    font-size: calc(100vw / 375 * 10);
}
body{
    font-size: 14px;
}
.box{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}
header{
    flex: 0;
    background-color: #2C2C2C;
    width: 37.5rem;
    height: 6rem;
    padding: 1.4rem;
    p{
        height: 4rem;
        text-align: center;
        line-height: 4rem;
        font-size: 2rem;
        background-color: #5B5B5B;
        border-radius: 4%;
    }
}
main{
 flex: 1;
 overflow: hidden;
 overflow-y: scroll;
  .main-top{
    height: 4.5rem;
   ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  2rem;
    li{
        font-size: 1.6rem;
        img{
            width: 2rem;
            pointer-events: none;
        }

    }
   }
 }
}
// .con{
//     display: flex;
//     flex-wrap: wrap;
//     padding: 1rem;
//     dl{
//         width: 49%;
//         margin: .8rem 0;
//         dt{ 
//             pointer-events: none;
//             img{
//                 width: 16rem;
//                 height: 16rem;
//                 pointer-events: none;
//             }
//         }
//         dd{
//           text-align: center;
//           font-size: 1.4rem;
//           pointer-events: none;
//         }
//     }
//     ul {
//         margin: .8rem;
//         padding: 1rem;
//         li {
//           display: flex;
    
//           .left {
//             pointer-events: none;
//             img {
//               width: 16rem;
//               height: 16rem;
//               pointer-events: none;
//             }
//           }
    
//           .right {
//             margin-left: 1rem;
//             pointer-events: none;
    
//             p {
//               font-size: 1.6rem;
//               pointer-events: none;
//             }
    
//             .dd-h {
//               font-weight: 900;
//               width: 16rem;
//             }
    
//             .dd-m {
//               b {
//                 color: #EE5C46;
//                 pointer-events: none;
//               }
//             }
    
//             .dd-p {
//               color: red;
//             }
//           }
//         }
//       }
// }
.con {
    width: 100%;
    // max-height: 58rem;
    // overflow: hidden;
    .scroll {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 1rem;
      dl {
        margin: .8rem;
        dt {
          pointer-events: none;
          img {
            width: 16rem;
            height: 16rem;
            pointer-events: none;
          }
        }
  
        dd {
          font-size: 1.6rem;
          pointer-events: none;
        }
  
        .dd-h {
          font-weight: 900;
          width: 16rem;
        }
  
        .dd-m {
          b {
            color: #EE5C46;
            pointer-events: none;
          }
        }
  
        .dd-p {
          color: red;
        }
      }
    }
    ul {
      margin: .8rem;
      padding: 1rem;
      li {
        display: flex;
        .left {
          pointer-events: none;
          img {
            width: 16rem;
            height: 16rem;
            pointer-events: none;
          }
        }
  
        .right {
          margin-left: 1rem;
          pointer-events: none;
  
          p {
            font-size: 1.6rem;
            pointer-events: none;
          }
  
          .dd-h {
            font-weight: 900;
            width: 16rem;
          }
  
          .dd-m {
            b {
              color: #EE5C46;
              pointer-events: none;
            }
          }
  
          .dd-p {
            color: red;
          }
        }
      }
    }
  }
.total{
    color: red;
}
.active{
    color: #F1604D;
}
.bg{
   border: .1rem solid #F1604D;
}
